::ng-deep .mat-menu-content {
    
    padding: 0px !important;
} 
.style
{
     font-size:16px;
     background-color: black;
     font-family: Univia Pro;
     border: black;
     color:white;
}
.style1
{
    float: right;
    margin-top: 15px;
}