<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">
    <div style="background-image: url('assets/img/profilebackground.png'); background-repeat: no-repeat;background-size: 100% 100%;">
     
        <div class="text-center" style="padding-top: 100px;">  
        <img src="assets/img/finallogo.svg"  alt="logo" width="300" >
          <p style="padding-top: 60px;font-size: 24px; color:white;"><b>Edit Your Profile</b></p>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-sm text-center">
          
                <div class="btn">
               <img src="assets/img/king.svg">
               <br>
               <br>
               <p style="font-size:18px;color: white;">Sample user king</p>
             </div>
              </div>
          
          
              </div>
          
          
             <div class="col text-center">
              <form style="padding-left:350px;padding-right:350px;">
            <div class="form-group">
              <label for="exampleInputEmail1" style="color:white;float: left;">Profile Name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Profile Name" style="background-color: black;color:white;">
              
            </div>
          </form>
          </div>
          <div class="btn-group" style="padding-left:400px;padding-right:400px;">
            <button type="button" class="btn savebtn" (click)="navigateTopage('profile');">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn cancelbtn" (click)="navigateTopage('profile');">Cancel</button>
            </div>
          </div>
          
          
          
          
          
          <div class="text-center" style="padding-top:50px; color:white;">
            <button class="btn btn-outline-light" (click)="navigateTopage('profile');"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete Profile</button>
            </div>
    
    <br>
    <br>
    
        
    </div>
    
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   