<app-header></app-header>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto">

    <br>
    <br>
    
    <div class="text-center style">  
        <h1 style="font-size: 24px;"> Account Settings</h1>
        </div>
        <br>
    <br>
    
    <div class="container">
      <div class="row">
        <div class="col" style="margin-left: 200px;">
                  <div class="row">
                  <div class="col-4" >
                          <h3 class="style1">Auto play</h3>
                             </div>
                          <div class="col-2" style="margin-left: 100px;">
                           <label class="switch" >
                              <input type="checkbox">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>
           
                        <p class="style2">Continue next episode automatically</p>
                        <br>
    
    
    
                        <div class="row">
                          <div class="col-4" >
                           <h3 class="style1">Notifications</h3>
                             </div>
                          <div class="col-2" style="margin-left: 100px;">
                           <label class="switch" >
                              <input type="checkbox">
                              <span class="slider round"></span>
                            </label>
                          </div>
                        </div>
           
                        <p class="style2">Turn on or off notifications</p>
                        <br>
    
                        <div class="row">
                          <div class="col-6" >
                           <h3 class="style1">Language</h3>
                             </div>
                         
                        </div>
           
                        <p class="style2">English</p>
                        <br>
    
                         <div class="row">
                          <div class="col-6" >
                           <h3 class="style1">Quality</h3>
                             </div>
                         
                        </div>
           
                        <p class="style2">Auto</p>
                        <br>
    
                        <div class="row">
                          <div class="col-6" >
                           <h3 class="style1">Registered Devices</h3>
                             </div>
                         
                        </div>
           
                        <p class="style2">See all the devices registered</p>
                        <br>
    
                         <div class="row">
                          <div class="col-4">
                          </div>
                          <div class="col-2" style="padding-left: 150px;">
                           <button class="button">
                            Save
                           </button>
                             </div>
                         
                        </div>
           
                        
    
    
        </div>
    
    
    
        <div class="col" style="color:white">
          <div class="row">
                          <div class="col-6" >
                           <h3 class="style1">Clear Search History</h3>
                             </div>
                         
                        </div>
           
                        <p class="style2">Clears all the history you have searched</p>
                        <br>
       
    
    
    
    
                    <div class="row">
                          <div class="col-6" >
                           <h3 class="style1">Change Password</h3>
                             </div>
                         
                        </div>
           
                        <p class="style2">Change your existing password</p>
                        <br>
    
    
                        <div class="row">
                          <div class="col-6" >
                           <h3 class="style1">Personal Settings</h3>
                             </div>
                         
                        </div>
           
                        <p class="style2">Modify name, email, password,card info</p>
                        <br>
    
                        <div class="row">
                          <div class="col-6" >
                           <h3 class="style1">Help</h3>
                             </div>
                         
                        </div>
                        <br>
           
                       
                        <div class="row">
                          <div class="col-6" >
                           <h3 class="style1">About Us</h3>
                             </div>
                         
                        </div>
           
                       <br>
    
                        <div class="row">
                          <div class="col-6" >
                           <h3 class="style1">Contact Us</h3>
                             </div>
                         
                        </div>
                        <br>
                       
    
    
                        <div class="row">
                          <div class="col-4">
                            <button class="button1">
                            Cancel
                           </button>
                          </div>
                          <div class="col-2" style="padding-left: 150px;">
                           
                             </div>
                         
                        </div>
           
                        
            </div>
          </div>
      </div>
    </div>


    <br>
    <br>
    <br>